.circle {
    border: 0.1em solid grey;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
}

.circle-n {
	margin-top: 0.10em;
    font-size: 1.1em;
    font-weight: bold;
    font-family: sans-serif;
    color: grey;
}